*{
    box-sizing: border-box;
    font-family: 'Playfair Display'; 
}

html, body {
    height: 100vh;
    margin: 0;
  }

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

html{
    font-size: "18px";
}

main{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 217, 0);
}

input{
    background-color: black;
    color: #BAA06A;
    height: 45px;
    border: none;
}

button{
    border: none; 
    background-color: #000000; 
    color: #BAA06A; 
    cursor: pointer;
    height: 30px;
} 

#lmdp{
    margin-top: 5%;
}

.container{
    background-color: #BAA06A;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 10em;
    width: 40rem;
    height: 32rem;
    overflow: hidden;
}

#inscription{
    background-color: #BAA06A;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 2em;
    width: 40rem;
    height: 53rem;
    overflow: hidden;
}

/* .container::before,
.container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px; 
    background-color: black; 
} */


.container form{
    display: flex;
    flex-direction: column;
}

.rowty{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 1rem;
    margin-right: 1rem;
}


.ligne{
    display: flex;
    flex-direction: row;
}

.lain{
    display: flex;
    flex-direction: column;
}

.lain *{
    margin: 3%;
}


#ligneG{
    background-color: #BAA06A;
    padding: 1px;
    margin-right: 60px;
    margin-left: 0px;
    height: 100vh;
}

#ligneD{
    background-color: #BAA06A;
    padding: 1px;
    margin-right: 0px;
    margin-left: 60px;
    height: 100vh;
}

#lignes{
    display: flex;
    flex-direction: column;
}

#square-button {
    width: 10px; 
    height: 10px;  
}

/*
#bouton {
width: 140px;
height: 40px; 
border: none; 
font-size: 16px; 
cursor: pointer; 
border-radius: 38%; 
margin: auto;
padding-left: 0%;
padding-right: 0%;
}
*/

#bouton {
width: 140px;
height: 40px; 
margin: auto;
margin-left: 36%;
border: #000;
cursor: pointer;
color: #BAA06A;
background-color: black;
}

#bouton:hover{
/*background: linear-gradient(to right, #000000, #ffd500); */
color: #000000;
background-color:#ba9f6a49;
border: #000000;
width: 145px;
height: 42px;
transition: all 0.3s ease-in-out;
}
  

#Liens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

h1{
    margin: auto;
    margin-top: 5%; 
    margin-bottom: 5%;
    font-style: oblique;
    text-decoration-style: ;
}

h3{
    color: rgb(0, 0, 0);
}

h2, h1{
    color: black;
}



